export(COR_detaDd)
export(COR_Fstd)
export(HierAr)
export(HierdetaD)
export(HierHe)
export(IDIP)
export(qD)
export(Str)
export(CorDdPlot)
export(DetaDcorplot)
export(plotdiff1)
export(qDplot)
export(HierFst)
import(diveRsity)
importFrom(hierfstat,genind2hierfstat)
import(dplyr)
import(entropart)
import(adegenet)
import(pegas)
import(GGally)
import(ggplot2)
import(reshape2)
import(scales)
