export(COR_detaDd)
export(COR_Fstd)
export(HierAr)
export(HierD)
export(HierHe)
export(IDIP)
export(qD)
export(Str)
export(CorDdPlot)
export(DetaDcorplot)
export(plotdiff1)
export(qDplot)
export(HierFst)
importFrom("graphics", "abline", "boxplot", "plot")
importFrom("stats", "as.dist", "cor", "dist", "loess", "weighted.mean")
importFrom("utils", "combn", "head")
importFrom("adegenet",".readExt", ".genlab","df2genind","is.genind", "pop","repool","Hs","seppop", "popNames")
importFrom("hierfstat","genind2hierfstat","varcomp.glob","pairwise.fst","allelic.richness","basic.stats")
importFrom("diveRsity","readGenepop")
importFrom("tibble","add_column")
importFrom("reshape2","melt")
import("ggplot2")
import("dplyr")
importFrom("GGally","ggcorr")
importFrom(entropart,"Diversity")
